@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    color: #1f2937;
    background: #fff;
}

img {
    max-width: 100%;
    width: 300px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar {
    background: #1f2937;
    height: 60px;
    .logo {
        color: #f9faf8;
        font-size: 24px;
        font-weight: bold;
    }
    a, li {
        color: #e5e7eb;
        font-size: 18px;
        text-decoration: none;
        list-style-type: none;
        :hover {
            color: lightblue;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    ul {
        display: flex;
    }
    ul li {
        margin-left: 20px;
    }
}

.header {
    background: #1f2937;
    min-height: 400px;
    h1 {
        font-size: 48px;
        font-weight: 800;
        color: #f9faf8;
    }
    p {
        color: #e5e7eb;
        font-size: 18px;
    }
    button {
        background: rgb(43, 107, 255);
        color: #fff;
        font-weight: bold;
        border-radius: 4px; /* Round button */
        margin-top: 10px;
        padding: 6px 5px;
        max-width: 100px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-text {
        display: flex;
        flex-direction: column;
        margin-right: 100px;
    }
    img {
        margin-top: 35px;
    }
}

.box-section {
    min-height: 500px;
    h1 {
        font-size: 36px;
        font-weight: 800;
        color: #1f2937;
    }
    img {
        width: 200px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        text-align: center;
    }
}

.quote-section {
    background: #e5e7eb;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    em {
        font-size: 36px;
        font-weight: lighter;
        color: #1f2937;
    }
    strong {
        font-size: 22px;
    }
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
}